.bg{
	position: absolute;
	width: 100vw;
	height: 100vh;
	top:0;
	left:0;
	background-image: url("homepage1.jpg");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.ring{
	position: absolute;
	background-image: url("ring.svg");
	top:148px;
	left:368px;
	width:95px;
	height:95px;
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;

 	animation-name: spin;
  	animation-duration: 5000ms;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.title{
	position: absolute;
	top:65px;
	left:93px;
	font-family: 'Aclonica', san-serif;
	font-size: 80px;
}

.title1{
	position: absolute;
	top:145px;
	left:93px;
	font-family: 'Aclonica', san-serif;
	font-size: 80px;
}

.title2{
	position: absolute;
	top:65px;
	left:337px;
	font-family: 'Aclonica', san-serif;
	font-size: 40px;
}

.title3{
	position: absolute;
	top:260px;
	left:98px;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
}

.title4{
	position: absolute;
	top:300px;
	left:98px;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
}

.line{
	position:absolute;
	width:255px;
	height:3px;
	top:238px;
	left:99px;
	background-color: black 
}

.aragorn1{
	position: absolute;
	width: 150px;
	height: 50px;
	top:20px;
	left:640px;
	background-image: url("aragornbutton.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.aragorn1:hover {
  	top:15px;
}

.theoden1{
	position: absolute;
	width: 150px;
	height: 50px;
	top:20px;
	left:820px;
	background-image: url("theodenbutton.png");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.theoden1:hover {
  	top:15px;
}

.boromir1{
	position: absolute;
	width: 150px;
	height: 50px;
	top:20px;
	left:990px;
	background-image: url("boromirbutton.png");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.boromir1:hover {
  	top:15px;
}

.wraith1{
	position: absolute;
	width: 150px;
	height: 50px;
	top:205px;
	left:645px;
	background-image: url("wraithbutton.png");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.wraith1:hover {
  	top:200px;
}

.orc1{
	position: absolute;
	width: 150px;
	height: 50px;
	top:205px;
	left:820px;
	background-image: url("orcbutton.png");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.orc1:hover {
  	top:200px;
}

.undead1{
	position: absolute;
	width: 150px;
	height: 50px;
	top:205px;
	left:990px;
	background-image: url("undeadbutton.png");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.undead1:hover {
  	top:200px;
}

.elrond1{
	position: absolute;
	width: 150px;
	height: 50px;
	top:390px;
	left:645px;
	background-image: url("elrondbutton.png");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.elrond1:hover {
  	top:385px;
}

.infantry1{
	position: absolute;
	width: 150px;
	height: 50px;
	top:390px;
	left:820px;
	background-image: url("infantrybutton.png");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.infantry1:hover {
  	top:385px;
}

.legolas1{
	position: absolute;
	width: 150px;
	height: 50px;
	top:390px;
	left:990px;
	background-image: url("legolasbutton.png");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.legolas1:hover {
  	top:385px;
}

.frodo1{
	position: absolute;
	width: 100px;
	height: 50px;
	top:392px;
	left:210px;
	background-image: url("frodobutton.png");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.frodo1:hover {
  	top:387px;
}

.bilbo1{
	position: absolute;
	width: 100px;
	height: 50px;
	top:392px;
	left:335px;
	background-image: url("bilbobutton.png");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.bilbo1:hover {
  	top:387px;
}

.smeagol1{
	position: absolute;
	width: 145px;
	height: 60px;
	top:388px;
	left:452px;
	background-image: url("smeagolbutton.png");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.smeagol1:hover {
  	top:383px;
}

.aragorn2{
	position: absolute;
	width: 540px;
	height: 540px;
	top:40px;
	left:330px;
	background-image: url("aragornpage.svg");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.theoden2{
	position: absolute;
	width: 540px;
	height: 540px;
	top:40px;
	left:220px;
	background-image: url("theodenpage.svg");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.boromir2{
	position: absolute;
	width: 650px;
	height: 650px;
	top:-35px;
	left:180px;
	background-image: url("boromirpage.svg");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.wraith2{
	position: absolute;
	width: 560px;
	height: 560px;
	top:35px;
	left:220px;
	background-image: url("wraithpage.svg");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.orc2{
	position: absolute;
	width: 560px;
	height: 560px;
	top:35px;
	left:220px;
	background-image: url("orcpage.svg");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.undead2{
	position: absolute;
	width: 560px;
	height: 560px;
	top:35px;
	left:220px;
	background-image: url("undeadpage.svg");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.elrond2{
	position: absolute;
	width: 860px;
	height: 860px;
	top:-145px;
	left:130px;
	background-image: url("elrondpage.svg");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.infantry2{
	position: absolute;
	width: 650px;
	height: 650px;
	top:-20px;
	left:195px;
	background-image: url("infantrypage.svg");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.legolas2{
	position: absolute;
	width: 580px;
	height: 580px;
	top:20px;
	left:240px;
	background-image: url("legolaspage.svg");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.frodo2{
	position: absolute;
	width: 480px;
	height: 480px;
	top:70px;
	left:290px;
	background-image: url("frodopage.svg");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.bilbo2{
	position: absolute;
	width: 480px;
	height: 480px;
	top:70px;
	left:290px;
	background-image: url("bilbopage.svg");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.smeagol2{
	position: absolute;
	width: 480px;
	height: 480px;
	top:70px;
	left:290px;
	background-image: url("smeagolpage.svg");
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.aragorntext{
	position: absolute;
	top:115px;
	left:660px;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	/*font-weight: bold;*/
}

.theodentext{
	position: absolute;
	top:115px;
	left:660px;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	/*font-weight: bold;*/
}

.boromirtext{
	position: absolute;
	top:115px;
	left:740px;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	/*font-weight: bold;*/
}

.wraithtext{
	position: absolute;
	top:115px;
	left:670px;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	/*font-weight: bold;*/
}

.orctext{
	position: absolute;
	top:115px;
	left:640px;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	/*font-weight: bold;*/
}

.undeadtext{
	position: absolute;
	top:115px;
	left:760px;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	/*font-weight: bold;*/
}

.elrondtext{
	position: absolute;
	top:115px;
	left:655px;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	/*font-weight: bold;*/
}

.infantrytext{
	position: absolute;
	top:115px;
	left:655px;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	/*font-weight: bold;*/
}

.legolastext{
	position: absolute;
	top:115px;
	left:755px;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	/*font-weight: bold;*/
}

.frodotext{
	position: absolute;
	top:115px;
	left:675px;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	/*font-weight: bold;*/
}

.bilbotext{
	position: absolute;
	top:115px;
	left:655px;
	font-family:'Poiret One', cursive;
	font-size: 22px;
	/*font-weight: bold;*/
}

.smeagoltext{
	position: absolute;
	top:115px;
	left:655px;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	/*font-weight: bold;*/
}

.aragornname{
	position: absolute;
	top:290px;
	left:80px;
	font-family: 'Aclonica' san-serif;
	font-size: 85px;
	transform: rotate(-90deg);
	/*opacity: .5;*/
	color:rgb(0,169,157);
}

.theodenname{
	position: absolute;
	top:290px;
	left:80px;
	font-family: 'Aclonica' san-serif;
	font-size: 85px;
	transform: rotate(-90deg);
	/*opacity: .5;*/
	color:rgb(0,169,157);
}

.boromirname{
	position: absolute;
	top:290px;
	left:60px;
	font-family: 'Aclonica' san-serif;
	font-size: 85px;
	transform: rotate(-90deg);
	/*opacity: .5;*/
	color:rgb(0,169,157);
}

.wraithname{
	position: absolute;
	top:290px;
	left:60px;
	font-family: 'Aclonica' san-serif;
	font-size: 85px;
	transform: rotate(-90deg);
	/*opacity: .5;*/
	color:rgb(193,39,45);
}

.orcname{
	position: absolute;
	top:320px;
	left:230px;
	font-family: 'Aclonica' san-serif;
	font-size: 85px;
	transform: rotate(-90deg);
	/*opacity: .5;*/
	color:rgb(193,39,45);
}

.undeadname{
	position: absolute;
	top:290px;
	left:45px;
	font-family: 'Aclonica' san-serif;
	font-size: 85px;
	transform: rotate(-90deg);
	/*opacity: .5;*/
	color:rgb(193,39,45);
}

.elrondname{
	position: absolute;
	top:290px;
	left:130px;
	font-family: 'Aclonica' san-serif;
	font-size: 85px;
	transform: rotate(-90deg);
	/*opacity: .5;*/
	color:rgb(57,181,74);
}

.infantryname{
	position: absolute;
	top:290px;
	left:120px;
	font-family: 'Aclonica' san-serif;
	font-size: 85px;
	transform: rotate(-90deg);
	/*opacity: .5;*/
	color:rgb(57,181,74);
}

.legolasname{
	position: absolute;
	top:290px;
	left:80px;
	font-family: 'Aclonica' san-serif;
	font-size: 85px;
	transform: rotate(-90deg);
	/*opacity: .5;*/
	color:rgb(57,181,74);
}

.frodoname{
	position: absolute;
	top:290px;
	left:140px;
	font-family: 'Aclonica' san-serif;
	font-size: 85px;
	transform: rotate(-90deg);
	/*opacity: .5;*/
	color:rgb(251,176,59);
}

.bilboname{
	position: absolute;
	top:290px;
	left:212px;
	font-family: 'Aclonica' san-serif;
	font-size: 85px;
	transform: rotate(-90deg);
	/*opacity: .5;*/
	color:rgb(251,176,59);
}

.smeagolname{
	position: absolute;
	top:290px;
	left:120px;
	font-family: 'Aclonica' san-serif;
	font-size: 85px;
	transform: rotate(-90deg);
	/*opacity: .5;*/
	color:rgb(251,176,59);
}